#root {
    width: 600px;
    margin: 40px auto;
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.button {
    width: 100px;
}

.comment-form .button {
    align-self: flex-end;
    margin-top: 10px;
}

.comment-form .comment-input {
    height: 80px;
    resize: none;
}

.comment {
    padding: 10px;
    background-color: lightgray;
    position: relative;
}

.comment p {
    margin: 0;
}

.delete-button {
    color: red;
    font-weight: bold;
    position: absolute;
    right: 5px;
    top: 5px;
}

.comments {
    margin-top: 20px;
}

.comments .comment {
    margin-top: 20px;
}