#root {
    width: 600px;
    margin: 40px auto;
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.button {
    width: 100px;
}

.comment-form .button {
    align-self: flex-end;
    margin-top: 10px;
}

.comment-form .comment-input {
    height: 80px;
    resize: none;
}

.comment {
    background-color: lightgray;
    position: relative;
}

.comment p {
    margin: 0;
}

.delete-button {
    color: red;
    font-weight: bold;
}

.comment-action {
    position: absolute;
    top: 5px;
    right: 5px;
}


.comments {
    margin-top: 20px;
}

.comments .comment {
    margin-top: 20px;
}

.reply-button {
    right: 36px;
}

.reply-box {
    padding: 15px;
}

.main {
    padding: 10px;
}

.replies {
    margin-left: 10px;
}